

.holder {
  position: relative;
}
.card {
  width: 250px;
  height: 300px;
}

#snacks {
  background-image: url(pics/chicken.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#meals {
  background-image: url(pics/lunch.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#drinks {
  background-image: url(pics/alcohol.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card-title{
  color: white;
  text-align: center;
  font-size: 24px;
}

.btn-outline-info {
  color: white;
}

.modal-content {
  color: white;
  background: #4b6cb7;
  background: -webkit-linear-gradient(to top,#4b6cb7, #182848);
  background: linear-gradient(to top, #4b6cb7, #182848);
  background-repeat: no-repeat;
  background-size: cover;
}
.btn {
  color: white;
}


.card-body {
  text-align: center;
}

.fas {
  color: white;
}
img {
  float: left;
}

.row {
  margin-top: 30px;
}

.header {
  margin-top: 15px;
  color: black;
}
.description,.price{
  color: black;
}
